h1{
    color:yellow;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:900;
    font-style:normal;
}
.name{
    background-color: red;
}
.name:hover{
    background-color: antiquewhite;
    color: black;
    text-transform: uppercase;
    text-decoration: underline;
    text-shadow: 3px 3px 3px rgb(228, 114, 114);
    text-align: center;
}

.dummytext{
    color: red;
    background-color: rgb(187, 222, 204);
    text-align:justify;
    text-decoration: underline overline dotted 2px black;
    /* text-decoration-color: black; */
    text-transform: capitalize;
    text-shadow: 2px -2px 2px blue;
}